.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  padding-top: 1em;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

svg.recycle {
  max-width: 5em;
  font-size: 1em;
  color: #009933;
  margin: .5em auto;
}

.App-header label {
  font-size: 22px;
  padding-right: 1em;
}

.select-wrapper {
  display: contents;
}

.select-wrapper select {
  margin: .5em auto;
}

ul.filter-options {
    list-style: none;
    column-count: 3;
    margin: 0;
    padding: 0;
    text-align: left;
}

ul.filter-options li label input {
    margin-right: 8px;
}

ul.filter-options li .option-icon {
    font-size: .8em;
}

.result-list {
  list-style: none;
  padding: 0 1em;
}

.result-list li {
  border: 1px solid #FFFFFF;
  margin: 1em auto;
  padding: 1em;
}

.result-list li ul {
  list-style: none;
  padding: .25em;
}

.result-list li ul li {
  border: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.result-list li ul ul.icons-list {
  column-count: 6;
  margin-top: 1em;
}

.result-list li ul ul.icons-list svg {
    font-size: 1.2em;
}

.back-to-top {
    padding: 6px 15px;
    position: fixed;
    z-index: 100;
    bottom: 3%;
    right: 1em;
    background: #009933;
    border-radius: 5px;
    border: none;
    color: white;
    display: none;
}

/** Tablet **/
@media only screen and (max-width: 1024px) {
    ul.filter-options {
        column-count: 2;
    }
}

/** Mobile **/
@media only screen and (max-width: 600px) {
    ul.filter-options {
        column-count: 1;
        margin-top: 1em;
    }

  .result-list li {
    padding: .5em .25em;
  }
}